@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@400;700&family=Lato:wght@400;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #ebf4ff;
  --thirdground: #ffc600;
  --primary: #131923;
  --secondary: #027035;
  --secundary-foreground: #ffffff;
  --hero-background: #f3f3f3;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 62.5%; /* faz com que 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--primary);
  font-size: 1.6rem;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.button,
.button2 {
  display: inline-block;
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  color: var(--secundary-foreground);
  padding: 2rem 4rem;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 15px;
}

.button2 {
  background-color: var(--background);
  color: var(--secondary);
}

.button:hover,
.button2:hover {
  opacity: 0.8;
}

.arrow-top {
  display: none;
  position: sticky;
  bottom: 70px;
  right: 40px;
  z-index: 99999;
}

.arrow-top a {
  text-decoration: none;
  color: #000;
}
